@mixin keyboard-focus-highlight {
    outline: 0.2rem solid rgba(var(--color-primary), 0.5);
    outline-offset: 0.3rem;
}

*:focus {
    outline: 0;
    box-shadow: none;
}

*:focus-visible,
.flickity-enabled:focus-visible {
    @include keyboard-focus-highlight();
}

.focus-none {
    box-shadow: none !important;
    outline: 0 !important;
}

@media (prefers-reduced-motion) {
    .motion-reduce {
        transition: none !important;
    }
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused,
.no-js *:focus {
    @include keyboard-focus-highlight();
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
.no-js *:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}