.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-bottom: -2rem;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(lg) {
    margin-left: -3.85rem;
    margin-bottom: -5rem;
  }
  &__item {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      padding-left: 3.85rem;
      padding-bottom: 5rem;
    }
  }
}

.grid.grid--gapless {
  margin-left: 0;
  margin-bottom: 0;
}
.grid--gapless .grid__item {
  padding-left: 0;
  padding-bottom: 0;
}

.grid--1-col > .grid__item {
  max-width: 100%;
  width: 100%;
}

.grid--3-col > .grid__item {
  max-width: 33.33%;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .grid--3-col > .grid__item {
    max-width: 33.33%;
  }
}

.grid--2-col > .grid__item {
  max-width: 50%;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .grid--2-col > .grid__item {
    max-width: 50%;
  }

  .grid--4-col-tablet > .grid__item {
    max-width: 25%;
  }

  .grid--3-col-tablet > .grid__item {
    max-width: 33.33%;
  }

  .grid--2-col-tablet > .grid__item {
    max-width: 50%;
  }
}

@media screen and (min-width: 990px) {
  .grid--4-col-desktop > .grid__item {
    max-width: 25%;
  }

  .grid--3-col-desktop > .grid__item {
    max-width: 33.33%;
  }

  .grid--2-col-desktop > .grid__item {
    max-width: 50%;
  }
}

.grid__item.grid__item--full-width {
  flex: 0 0 100%;
  max-width: 100%;
}
