{{ 'mocups-section.css' | asset_url | stylesheet_tag }}

<div class="swiper mocups-swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for item in (1..2) %}
      {% for mocup in section.blocks %}
        <div class="swiper-slide">
          <a
            href="{% if mocup.settings.link %}{{ mocup.settings.link }}{% else %}#{% endif %} "
            class="mocup-link"
            aria-label="Link to themes collection"
          >
            <img
              class="mocup-image"
              loading="lazy"
              src="{{ mocup.settings.image | image_url: width: 200 }}"
              srcset="{{ mocup.settings.image | image_url }} 2x"
              alt="Theme previev mocup"
            >
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            {% if mocup.settings.show_bage %}
              <p class="mocup_bage ">
                <svg
                  version="1.1"
                  id="Слой_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 141.7 141.7"
                  style="enable-background:new 0 0 141.7 141.7;"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .st0{fill:#F4F4B5;}
                    .st1{fill:#1B1416;}
                  </style>
                  <g>
                    <circle class="st0" cx="70.9" cy="70.9" r="70.9"/>
                    <path class="st1" d="M70.9,131.1c-33.2,0-60.2-27-60.2-60.2c0-33.2,27-60.2,60.2-60.2c33.2,0,60.2,27,60.2,60.2
                      C131.1,104.1,104.1,131.1,70.9,131.1z M70.9,12.5c-32.2,0-58.4,26.2-58.4,58.4s26.2,58.4,58.4,58.4s58.4-26.2,58.4-58.4
                      S103.1,12.5,70.9,12.5z"/>
                    <g>
                      <g>
                        <g>
                          <path class="st1" d="M55,47.8v7h-6.3v16.9H41V54.8h-6.3v-7H55z"/>
                          <path class="st1" d="M78.7,68.6c-2.6,2.5-5.8,3.7-9.6,3.7s-7-1.2-9.6-3.7c-2.6-2.5-3.9-5.4-3.9-8.9c0-3.4,1.3-6.4,3.9-8.9
                            c2.6-2.5,5.8-3.7,9.6-3.7s7,1.2,9.6,3.7c2.6,2.5,3.9,5.4,3.9,8.9C82.6,63.2,81.3,66.1,78.7,68.6z M65.1,63.8
                            c1.1,1.1,2.5,1.7,4.1,1.7c1.6,0,3-0.6,4.1-1.7c1.1-1.1,1.7-2.5,1.7-4.1c0-1.6-0.6-3-1.7-4.1c-1.1-1.1-2.5-1.7-4.1-1.7
                            c-1.6,0-3,0.6-4.1,1.7c-1.1,1.1-1.7,2.5-1.7,4.1C63.4,61.4,63.9,62.7,65.1,63.8z"/>
                          <path class="st1" d="M97.8,47.8c2.8,0,5,0.8,6.7,2.5c1.7,1.6,2.5,3.7,2.5,6.2c0,2.5-0.8,4.6-2.5,6.2c-1.7,1.6-3.9,2.5-6.7,2.5
                            h-3.6v6.5h-7.6V47.8H97.8z M94.2,54.6v3.7h3.1c0.6,0,1.1-0.2,1.5-0.5c0.4-0.4,0.6-0.8,0.6-1.3s-0.2-1-0.6-1.3
                            c-0.4-0.4-0.9-0.5-1.5-0.5H94.2z"/>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path class="st1" d="M41.8,88.7c-0.3-0.2-0.6-0.3-1-0.4c-0.4-0.1-0.8-0.3-1.3-0.4c-0.5-0.2-1-0.4-1.4-0.6
                            c-0.5-0.3-0.9-0.5-1.3-0.9c-0.4-0.3-0.7-0.8-1-1.3s-0.4-1.2-0.4-1.9c0-1.3,0.6-2.5,1.7-3.5c1.1-1,2.6-1.5,4.5-1.5
                            c0.7,0,1.4,0.1,2.1,0.2c0.7,0.2,1.2,0.3,1.6,0.6c0.4,0.2,0.8,0.4,1.1,0.6c0.3,0.2,0.5,0.4,0.7,0.6l0.2,0.2l-2.9,3
                            c-0.1-0.1-0.1-0.2-0.3-0.3c-0.1-0.1-0.4-0.3-0.8-0.5c-0.4-0.2-0.8-0.3-1.2-0.3c-0.4,0-0.8,0.1-1,0.3c-0.2,0.2-0.3,0.4-0.3,0.7
                            c0,0.2,0.2,0.4,0.5,0.6c0.3,0.2,0.7,0.3,1.2,0.5c0.5,0.1,1,0.3,1.6,0.6c0.6,0.3,1.1,0.5,1.6,0.9c0.5,0.3,0.9,0.8,1.3,1.4
                            c0.3,0.6,0.5,1.4,0.5,2.2c0,1.4-0.6,2.7-1.7,3.7c-1.2,1-2.7,1.5-4.7,1.5c-0.8,0-1.5-0.1-2.3-0.3c-0.7-0.2-1.4-0.4-1.8-0.7
                            c-0.5-0.3-0.9-0.5-1.3-0.8c-0.4-0.3-0.7-0.5-0.8-0.7l-0.3-0.3l2.9-2.9c0.1,0.1,0.2,0.2,0.4,0.4c0.2,0.2,0.5,0.4,1.1,0.6
                            c0.5,0.3,1,0.4,1.5,0.4c0.5,0,0.9-0.1,1.1-0.4c0.3-0.2,0.4-0.5,0.4-0.9C42.1,89.1,42,88.9,41.8,88.7z"/>
                          <path class="st1" d="M54.4,91.2l-0.9,3h-5.3l5.6-15.5h5.5L65,94.2h-5.3l-0.9-3H54.4z M56.6,83.6l-1.1,3.9h2.2L56.6,83.6z"/>
                          <path class="st1" d="M66.6,94.2V78.7h5v10.9h6.5v4.5H66.6z"/>
                          <path class="st1" d="M92.8,90.1v4.1H80.4V78.7h12.3v4.1h-7.3v1.7h5.5v3.8h-5.5v1.9H92.8z"/>
                          <path class="st1" d="M101.1,88.7c-0.3-0.2-0.6-0.3-1-0.4c-0.4-0.1-0.8-0.3-1.3-0.4c-0.5-0.2-1-0.4-1.4-0.6
                            c-0.5-0.3-0.9-0.5-1.3-0.9c-0.4-0.3-0.7-0.8-1-1.3s-0.4-1.2-0.4-1.9c0-1.3,0.6-2.5,1.7-3.5c1.1-1,2.6-1.5,4.5-1.5
                            c0.7,0,1.4,0.1,2.1,0.2c0.7,0.2,1.2,0.3,1.6,0.6c0.4,0.2,0.8,0.4,1.1,0.6c0.3,0.2,0.5,0.4,0.7,0.6l0.2,0.2l-2.9,3
                            c-0.1-0.1-0.1-0.2-0.3-0.3c-0.1-0.1-0.4-0.3-0.8-0.5c-0.4-0.2-0.8-0.3-1.2-0.3c-0.4,0-0.8,0.1-1,0.3s-0.3,0.4-0.3,0.7
                            c0,0.2,0.2,0.4,0.5,0.6c0.3,0.2,0.7,0.3,1.2,0.5c0.5,0.1,1,0.3,1.6,0.6c0.6,0.3,1.1,0.5,1.6,0.9c0.5,0.3,0.9,0.8,1.3,1.4
                            c0.3,0.6,0.5,1.4,0.5,2.2c0,1.4-0.6,2.7-1.7,3.7c-1.2,1-2.7,1.5-4.7,1.5c-0.8,0-1.5-0.1-2.3-0.3c-0.7-0.2-1.4-0.4-1.8-0.7
                            c-0.5-0.3-0.9-0.5-1.3-0.8c-0.4-0.3-0.7-0.5-0.8-0.7l-0.3-0.3l2.9-2.9c0.1,0.1,0.2,0.2,0.4,0.4c0.2,0.2,0.5,0.4,1.1,0.6
                            c0.5,0.3,1,0.4,1.5,0.4c0.5,0,0.9-0.1,1.1-0.4c0.3-0.2,0.4-0.5,0.4-0.9C101.5,89.1,101.4,88.9,101.1,88.7z"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </p>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  {% comment %} <div class="swiper-pagination"></div> {% endcomment %}

  <!-- If we need navigation buttons -->
  {% comment %}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  {% endcomment %}

  <!-- If we need scrollbar -->
  {% comment %} <div class="swiper-scrollbar"></div> {% endcomment %}
</div>

<script defer="defer">
  {% if section.settings.slider_enable %}
      (() => {
      const swiper = new Swiper('.mocups-swiper', {
          // Optional parameters
          loop: true,
          slidesPerView: 1,
          speed: 6000,
          // createElements: true,
          // centeredSlides: true,
          longSwipesMs: 0,
          freeMode: true,
          autoplay: {
            enabled: true,
            delay: false,
            disableOnInteraction: true,
            pauseOnMouseEnter: true,
            waitForTransition: false
          },
          breakpoints: {
            480: {
                slidesPerView: 2,
            },
            990: {
                slidesPerView: 3,
            }
          },

          // If we need pagination
        //   pagination: {
        //   el: '.swiper-pagination',
        //   },

          // Navigation arrows
        //   navigation: {
        //   nextEl: '.swiper-button-next',
        //   prevEl: '.swiper-button-prev',
        //   },

          // And if we need scrollbar
          // scrollbar: {
          // el: '.swiper-scrollbar',
          // },
      });
      })();
  {% endif %}
</script>

{% schema %}
{
  "name": "Mocups",
  "tag": "section",
  "class": "mocups",
  "settings": [
    {
      "type": "checkbox",
      "id": "slider_enable",
      "label": "Slider enable",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Mocup",
      "type": "mocup",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "show_bage",
          "label": "Show 'TOP SALES' bage"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mocups"
    }
  ]
}
{% endschema %}
