@keyframes translate {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.announcement-bar-slider-section {
  overflow-x: hidden;
}

.announcement-bar-slider__container {
  display: flex;
  padding: 15px 0;
  background-color: var(--bg-color);
  /* animation: 5s linear 1s infinite both running translate; */
}

.announcement-bar-slider__container > div {
  display: flex;
  animation: translate 20s linear infinite;
}

.announcement-bar-slider__item {
  padding: 0 10px 0 10px;
  display: flex;
  gap: 20px;
}

.announcement-bar-slider__item::after {
  content: "•";
}

.announcement-bar-slider__item span {
  text-wrap: nowrap;
}
