@media screen and (max-width: 480px) {
  .main-video-section {
    padding-top: 40px !important;
  }
}
@media screen and (max-width: 768px) {
  .main-video-section {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 10px;
  }
}

.main-video-section__media {
  position: relative;
  padding-bottom: 56.25%;
}

.main-video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.main-video-section__media.deferred-media:after {
  content: none;
}

.main-video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.main-video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.main-video-section__poster,
.main-video-section__media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-video-section video {
  width: 100%;
  height: intrinsic;
}

.main-video-section video.desctop {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-video-section video.mobile {
    display: none;
  }

  .main-video-section video.desctop {
    display: block;
  }
}

.main-video__text {
  max-width: 90%;
  padding: 10px 20px 30px 20px;
  z-index: 1;
  top: 5%;
  left: 5%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .main-video__text {
    position: absolute;
    max-width: 45%;
  }
}

@media screen and (min-width: 990px) {
  .main-video__text {
    left: 5%;
    padding: 0px 30px 50px 30px;
    width: 640px;
    text-align: justify;
    top: calc(50% - 238px / 2);
  }
}

@media screen and (min-width: 1200px) {
  .main-video__text {
    left: 5%;
  }
}

@media screen and (min-width: 1500px) {
  .main-video__text {
    width: 1040px;
    max-width: 48%;
  }
}

.main-video__text-heading {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .main-video__text-heading {
    text-align: center;
  }
}

@media screen and (min-width: 990px) {
  .main-video__text-heading {
    font-size: 32px;
  }
}

@media screen and (min-width: 1500px) {
  .main-video__text-heading {
    font-size: 45px;
  }
}

.main-video__text-heading p {
  margin: 0;
}

.main-video__text a {
  background-color: #bf91a2;
  color: #000;
  font-weight: 600;
  padding: 7px 25px 11px 25px;
  text-decoration: none;
  margin-top: 30px;
  display: block;
  width: max-content;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .main-video__text a {
    margin: auto;
  }
}

@media screen and (min-width: 990px) {
  .main-video__text a {
    font-size: 16px;
  }
}
