@keyframes bagePuls {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.mocups {
  height: 65vh;
}

@media screen and (min-width: 768px) {
  .mocups {
    height: 85vh;
    /* padding: 0 20px; */
  }
}

.mocups-swiper {
  height: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .mocups-swiper {
    padding: 0 60px;
  }
}

.mocup-link {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.mocup-image {
  height: -webkit-fill-available;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 480px) {
  .mocup-image {
    height: max-content;
  }
}

.mocup_bage {
  position: absolute;
  top: 0px;
  left: 0px;
  animation: bagePuls 1s linear 0s infinite;
}

@media screen and (min-width: 768px) {
  .mocup_bage {
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .mocup_bage {
    top: 0px;
    left: 0;
  }
}

.mocup_bage svg {
  width: 6rem;
  height: 6rem;
}

@media screen and (min-width: 768px) {
  .mocup_bage svg {
    width: 6rem;
    height: 6rem;
  }
}
