.reviews-section {
  max-width: 85%;
  margin: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 4rem 3rem;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 19px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 19px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 19px 2px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease;
}

.reviews-section:hover {
  /* -webkit-box-shadow: 10px 10px 19px 13px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 19px 13px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 19px 13px rgba(0, 0, 0, 0.35); */
  transform: scale(1.02);
}

.reviews-section__container {
  margin: 5rem 0;
}

.reviews-section__subheading {
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .reviews-section__subheading {
    font-size: 3.5rem;
  }
}

.reviews-section__heading {
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.reviews-section__item {
  height: 100% !important;
}

.reviews-section__item > .reviews-section__item-wrapper {
  background-color: #fff;
  color: #000;
  position: relative;
  border-radius: 12px;
  padding: 5px;
  padding: 15px;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 30px);
}

.reviews-section__item:hover > .reviews-section__item-wrapper {
  background: linear-gradient(
    135deg,
    rgb(255 135 162 / 8%) 0%,
    rgb(247 165 212 / 35%) 26.22%,
    rgb(255 95 160 / 35%) 48.68%,
    rgb(255 135 195 / 18%) 76.24%,
    rgb(255 134 189 / 64%) 100%
  );
  color: #fff;
}

.reviews-section__item > .reviews-section__item-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  transition: 0.3s;
  opacity: 0;
  border-radius: 12px;
  border: 2px solid #fff;
}

.reviews-section__item:hover > .reviews-section__item-wrapper svg path {
  fill: #fff;
}

.reviews-section__item:hover > .reviews-section__item-wrapper svg.empty path {
  fill: transparent;
  stroke: #fff;
}

.reviews-section__item:hover > .reviews-section__item-wrapper::before {
  opacity: 1;
}

.reviews-section__item-review p {
  margin-top: 5px;
}
