.d-block {
  display: block !important;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

@include media-breakpoint-up(md) {
  .d-md-block {
    display: block !important;
  }

  .d-md-none {
    display: none !important;
  }
}

@include media-breakpoint-up(lg) {
  .d-lg-block {
    display: block !important;
  }

  .d-lg-none {
    display: none !important;
  }
}