// Margin Left
.ml-0 {
  margin-left: 0;
}
.ml-0-\! {
  margin-left: 0 !important;
}
.ml-auto {
  margin-left: auto;
}
// Negative Values
.ml-n1\.5 {
  margin-left: -1.5rem;
}
.ml-n5 {
  margin-left: -5rem;
}
.ml-n4 {
  margin-left: -4rem;
}
.ml-n7\.7 {
  margin-left: -7.7rem;
}
.ml-n8 {
  margin-left: -8rem;
}
@each $value in $m-left {
  $formatted-value: str-replace($value, ".", "\\.");

  .ml-#{$formatted-value} {
    margin-left: #{$value}rem;
  }
}

// Desktop
@include media-breakpoint-up(md) {
  .ml-0--desk {
    margin-left: 0;
  }
  .ml-auto--desk {
    margin-left: auto;
  }
  // Negative Values
  .ml-n1\.5--desk {
    margin-left: -1.5rem;
  }
  .ml-n5--desk {
    margin-left: -5rem;
  }
  .ml-n4--desk {
    margin-left: -4rem;
  }
  .ml-n7\.7--desk {
    margin-left: -7.7rem;
  }
  @each $value in $m-left--desk {
    $formatted-value: str-replace($value, ".", "\\.");

    .ml-#{$formatted-value}--desk {
      margin-left: #{$value}rem;
    }
  }
}
